secrets.yaml
known_devices.yaml
google_calendars.yaml
*.db*
*.log
*.xml
*.db-journal
*.sqlite
*.conf
.editorconfig
*.data
deps
tts
.HA_VERSION
.uuid
OZW_Log.txt
/nbproject/*
emulated_hue_ids.json
/.storage/*
custom_components/**/__pycache__/
.cloud/production_auth.json
alexa_media.amazon@*
alexa_media.pickle*
update.sh
.google.token
zigate.json*
adbkey*
__pycache__