secrets.yaml
known_devices.yaml
google_calendars.yaml
*.db*
*.log
*.xml
*.db-journal
*.sqlite
*.conf
.editorconfig
*.data
*.pem
deps
tts
.HA_VERSION
.uuid
OZW_Log.txt
/nbproject/*
emulated_hue_ids.json
/.storage/*
/.cloud/*
custom_components/**/__pycache__/
custom_components/**/json_sensors/
.cloud/production_auth.json
alexa_media.amazon@*
alexa_media.pickle*
update.sh
.google.token
adbkey*
__pycache__
google_cloud.json